<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">		body {
					  font-family: 'Montserrat', sans-serif;
					  font-size: 14px;
					}
	</style>
</head>
<body>
<div>
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div style="padding: 0px 0px 0px 0px;">
				<p>
					{{ body|raw }}
					Merci d'avoir mis à jour la liste des &eacute;changes.<br>
  				Vous pouvez la consulter <a href="{{ url('view.sel_echanges.page_1') }}">{{ 'ici'|t }}</a> et v&eacute;rifier votre solde <a href="{{ url('view.sel_selistes.page_1') }}">{{ 'ici'|t }}</a>.<br>
					--<br>
					Le Grenier à S&Eacute;L
				</p>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
